#!/bin/sh /etc/rc.common

START=99

start() {
    echo "ua3f is starting"
    if id -u shellclash >/dev/null 2>&1; then
        sudo -u shellclash /root/ua3f >/var/log/ua3f.log 2>&1 &
    elif id -u nobody >/dev/null 2>&1; then
        sudo -u nobody /root/ua3f >/var/log/ua3f.log 2>&1 &
    else
        /root/ua3f >/var/log/ua3f.log 2>&1 &
    fi
}

stop() {
    echo "ua3f is stopping"
    killall ua3f
}
